@tailwind base;
@tailwind components;
@tailwind utilities;



.react-flow__handle.handle {
  position: absolute;
  width: 10px !important;
  height: 10px !important;
  background: #888888 !important;
  border: 1px solid white;
}

.react-flow__handle.handle:hover {
  background: #bdc7c5 !important;
  border: 2px solid #a6b4b1;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}